@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.instagram.com/victortoledo.s/" target="_blank" class="ml-md-auto" style="color:#E1306C;">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/victor-toledo-8722001ba/" target="_blank" class="ml-md-auto" style="color:#1d7199;">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/VictorToledo36" target="_blank" class="ml-md-auto" style="color:#171515;">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://steamcommunity.com/profiles/76561198229335452" target="_blank" class="ml-md-auto" style="color:#5757b7;">
                <i class="fa-brands fa-steam"></i>
            </a>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
