<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Victor Toledo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">

            <div style="width: 200px; height: 200px; overflow: hidden; border-radius: 50%;">
                <img src="img/foto.PNG"
                     asp-append-version="true"
                     style="width: 110%; height: 110%; object-fit: cover;" />
            </div>

            <NavLink class="nav-link" href="Sobre" Match="NavLinkMatch.All">
                <span class=" bi bi-person h3" aria-hidden="true"></span> Sobre
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Habilidades">
                <span class="bi bi-rocket-takeoff-fill h4" aria-hidden="true"></span> Habilidades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Certificados">
                <span class="bi bi-patch-check h4" aria-hidden="true"></span> Certificados
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
