@page "/"

<PageTitle>Home</PageTitle>

<h1>Victor Toledo</h1>
<hr />

<h3>Olá, meu nome é Victor</h3>
<p>
    Sou <strong>Desenvolvedor Back-End</strong>, com experiência em
    <strong>Delphi</strong>, <strong>SQL Server</strong> e <strong>Flutter</strong>.
</p>

<p>Segue abaixo minhas redes:</p>

<div class="info-card">
    <a href="https://www.linkedin.com/in/victor-toledo-8722001ba/" target="_blank" style="color:#1d7199;">
        <i class="fa-brands fa-linkedin fa-2x"></i>
    </a>
    <a href="https://github.com/VictorToledo36" target="_blank" style="color:#171515;">
        <i class="fa-brands fa-github fa-2x"></i>
    </a>
</div>
